<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="..\Log\NLog-internal.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="logfile" fileName="${basedir}\Log\NLog-${level}-${shortdate}.log" 
            layout="${shortdate}|${uppercase:${level}}|${event-properties:item=EventId.Id}|${logger}|${message} ${exception:format=ToString,StackTrace}}"/>
    
    <target xsi:type="File" name="logfile2" fileName="${basedir}\Log\NLog-${event-properties:item=EventId.Id}-${shortdate}.log" 
            layout="${date}|${uppercase:${level}}|${event-properties:item=EventId.Id}|${logger}|${message} ${exception:format=ToString,StackTrace}}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logfile2" />
  </rules>
</nlog>